
<!-- <body>
    <div ng-app="myApp"> -->
        <!-- <script type="text/ng-template" id="../../modal/modal.html"> -->
<div class="modal-modal">
    <div class="modal-header">
        <h3 class="modal-title" style="color:darkcyan">Device Name</h3>
    </div>
    <div class="modal-body">

        <input id="device-name" type="text" ng-model='deviceName' placeholder="Device name.." />
    </div>
    <div class="modal-footer">
        <button class="btn1" ng-click="ok()">Save</button>
        <button class="btn2" ng-click="cancel()">Cancel</button>
    </div>
    </div>
    <!-- </div>
            </script> -->
    <!--  </div>

    </body> -->
