@{
    ViewBag.Title = "Home Page";
}
<body class="cyan">
    <div class="title">ReSerVeLinE</div>
    <div class="text">Manage Your Client's Phone Number Reservation!</div>
</body>
<style>    .cyan {
        background: rgb(54,237,217);
        background: radial-gradient(circle, rgba(54,237,217,1) 0%, rgba(0,139,139,1) 100%);
    }
    .text{
        position:center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:42px;
        text-align:center;
      
        margin-top:200px;
    }
    .title {
        position: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 60px;
        text-align: center;
        margin-top: 200px;
    }
    hr{
        display:none;
    }
</style>