@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@{
    ViewBag.Title = "Register";
}

<div id="contain" ng-controller="loginController">
    <h2 style="color:darkcyan;">Register</h2>
    <form ng-submit="register()">
        <div class="user">
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="user.Username" required />
        </div>
        <div class="password">
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="user.Password" required />
        </div>
        <div class="login">
            <button type="submit">Register</button>
        </div>
    </form>

</div>
